.App {
  text-align: center;
}
*{
  font: italic 1.2em "Fira Sans", serif;
  font-size: large;
}
.headerComp{
  display:flex ;
  justify-content: center;
  align-items: center;
}
.headerContent{
  display: flex;
  justify-content: flex-start;
}

.hero-container{
  background-image: url(../cas-bg.jpg);
  height: 80vh;
  width: 100%;
  background-position: center;

}
.forAddingImg{
    background-image: url(../cas-bg.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  color: white;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* css for parallex effect */
* {
  padding: 0;
  margin: 0
}
.parent:first-of-type {
  background: #ffffff url("components/img4.jpg") no-repeat center center fixed;
  background-size: cover;
}
.parent:nth-of-type(2) {
  background: #ffffff url("components/img6.jpg") no-repeat center center fixed;
  background-size: cover;
}
.parent:nth-of-type(3) {
  background: #ffffff url("components/img7.jpg") no-repeat center center fixed;
  background-size: cover;
}
.parent:nth-of-type(4) {
  background: #ffffff url("components/img2.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.parent {
  width: 100%;
  height: 150vh;
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-family: tahoma;
  text-align: center;
  line-height: 180%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); */
}
.parent p {
  padding: 25px;
  font-size: 22px;
}

/* css for parallex effects ends */